.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    min-height: 100vh;
}

.waviy{
    -webkit-box-reflect: below -20px linear-gradient(transparent,rgba(0,0,0,0.2));
    font-size: 60px;
    margin: 20px;
    white-space: nowrap;
}

.waviy span{
    font-size: 50%;
    font-family:"Signika Negative", sans-serif;
    font-weight: bold;
    position: relative;
    display: inline-block;
    color: black;
    text-transform: uppercase;
    opacity: 0;
    animation: waviy 1s forwards;
    animation-delay: 0;
    animation-delay: calc(.1s * var(--i));
}

@keyframes waviy{
    0%{
      opacity: 0;
      transform: translateY(30px);
    }
    100%{
      opacity: 1;
    }
}

@keyframes size{
  0%{
    font-size: 60px;
  }

  100%{
    font-size: 80px;
  }
}
