* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.section{
    height:100vh;
    width:100%;
    position: relative;
    padding: 0;
}

.section.about{
    background-color: lightgrey;
}
.section.project{
    background-color: gray;
}
.section.contact{
    background-color: black;
}

